* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0a1423;
  color: #aee7ff;
  background: url('background.png') no-repeat center center fixed;
  background-size: cover;
  color: #aee7ff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #0a1423;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 200px;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #7ed9ff;
  font-weight: 700;
  font-size: 1.1rem;
  transition: 0.3s;
}

nav a:hover {
  color: #b9ecff;
}

.title {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4d/Blackboard_with_math_formulas.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  background-color: white;
  border-radius: 50px;
  padding: 15px 20px;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  font-size: 1rem;
  color: #0a1423;
  border: 3px solid #7ed9ff;
  outline: none;
}

.main-title {
  background-color: #0a1423;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 2.5rem;
  font-weight: 800;
  color: #7ed9ff;
  margin-top: 30px;
}

.subtitle {
  background-color: #0a1423;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7ed9ff;
  font-style: italic;
  margin-top: 15px;
}

nav a{
  text-decoration: none;
  color: #7ed9ff;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}